/* Estilos gerais da navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #545558;
  border-bottom: #e0222f 10px solid;
  box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.4);
}

.navbar img {
  width: 20%;
  height: 10%;
}

.navbar a {
  color: #D61D29;
  font-size: 140%;
  /* padding: 9px 9px; */
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 20px;
  text-decoration: none;
  font-size: 33px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a:hover {
  background-color: #e0222f;
  color: #545558;
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar a {
      font-size: 24px;
      padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .navbar {
      padding: 10px;
  }

  .navbar a {
      font-size: 18px;
      padding: 8px 10px;
  }
}