.navbar {
    display: flex;
    justify-content: space-evenly;
    /* width: 20%; */
    align-items: center;
    gap: 25px;
    min-width: 10vw;
    background-color: #D61D29;
  }

  .navbar a {
    color: #444547;
    font-size: 140%;
    padding: 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px;
  }

  .navbar a:hover {
    background-color: #e0222f;
    color: #545558;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .navbar a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(254, 102, 0, 0.5);
  }



