.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    gap: 100px;
    background-color: #545558;
    padding: 9px;
    border-bottom: #e0222f 10px solid;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.4);
    /* border-top: #e0222f 4px solid; */
  }

  .navbar a {
    color: #D61D29;
    font-size: 140%;
    padding: 10px 10px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }

  .navbar a:hover {
    background-color: #e0222f;
    color: #545558;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .navbar a:focus {
    outline: none;
    
  }

  .navbar img{
    width: 270px;
    height: 140px;
    
  }

  


