.conteiner-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid;
}

.texto-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    color: #444547;
    border: solid;

}

.fotos-laterais1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
}
body{
    background-color: #FEFFFF;
}

img{
    width: 40%;
    /* height: 40%; */
 
}